<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ckw.lightweightmusicplayer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".CkwApplication"
        android:allowBackup="true"
        android:icon="@mipmap/music"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/music"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/MaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.localmusic.LocalMusicActivity" />
        <activity android:name=".ui.localmusic.activities.AlbumActivity" android:theme="@style/AlbumTheme" />
        <activity android:name=".ui.playmusic.MusicPlayActivity" />
        <activity android:name=".ui.localmusic.activities.ArtistActivity" />
        <activity android:name=".ui.about.AboutMeActivity" />
        <activity android:name=".ui.favorite.MyFavoriteActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.magic.MagicActivity" />
        <activity android:name=".ui.localsongs.LocalSongsActivity" />
        <activity android:name=".ui.localalbums.LocalAlbumsActivity"
            android:theme="@style/AppTheme.Skid_1"
            />
        <activity android:name=".ui.localalbums.AlbumDetailActivity"
            android:theme="@style/AppTheme.Skid_2"
            />
        <activity android:name=".ui.localartists.LocalArtistsActivity" />

        <service android:name=".ui.playmusic.service.MusicService"
            tools:ignore="ExportedService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>